//starter position styles
body{
	background: blue;
	}
	
.container{
	max-width: 850px;
	width:100%;
	margin:0 auto;
	
}




.social{
	
	display: block;
	float: right;
	
	}


.mainnav{
	
	display: block;
	float: right
}

.mainnav a{
	display: block;
	float: right;
}
.headline{
	color: black;
	display: block;
}



.mainbody{
	
	background-color: blue;
	position: relative;
	padding: 20px 19px 17px 20px;

}

.featurework{
	background-color: grey;

}
.recentbar{
	background-color: #6d5c21;
	display: block;
}

footer{
	background-color: black;
}