// CONTAINERS

// standardize box model across browsers! 
// IE8 and up. bit.ly/1eXrOej 
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $bg;
}

nav {
    
}

aside {
    @include breakpoint(large) {@include span-columns(3); margin-left: 0;}
}



// CONTAINER MODULES

.wrapper,
.intro,
.content {
    @include outer-container;
}

.intro-hero {
    img {
        width: 100%;
        height: auto;
    }
}


.nav-sub {
    @include breakpoint(medium) {@include span-columns(3);}
    @include breakpoint(large) {@include span-columns(2);}
}



.twocol .content-main {
    @include breakpoint(medium) {@include span-columns(9); @include omega();}
    @include breakpoint(large) {@include span-columns(10);}
}

.threecol .content-main {
    @include breakpoint(medium) {@include span-columns(9); @include omega();}
    @include breakpoint(large) {@include span-columns(7);}
}

// HEADLINE

#headline {
	@include row();
	height: 20px;
	@include breakpoint(medium){
		height: 30px;
	}
	@include breakpoint(large){
		height: 100px;
	}

}

// MAIN BAG FEATURE RESPOSIVENESS

.mainwrapper {
    @include outer-container;
    
	    .content-aside {
		    background-color: blue;
		   
			    @include breakpoint(large) {@include span-columns(3); height:100%;}
			    
			    .callout{
				   
				    height: 60px;
			    	}
						}
	    
  

	.featurebox{
	
		   
	    }
	     @include breakpoint(large) {@include span-columns(9 of 12 ); 
	
	    }
	    
		.featurework {
			     @include breakpoint(medium) {@include span-columns(12);}
		 	     @include breakpoint(large) {@include span-columns(9 of 9); 
		
	    }
	
		}
		
		
		
			
		.promo-child,
		 {
		    background: $base0;
		
		    @include pad(5px);
		    @include breakpoint(medium) {@include span-columns(6); @include reset-display;
			    img{width:100%};
			   
		    }
		     @include breakpoint(large) {@include span-columns(3 of 9); 
				   }
			  img{width: 100%;
				  height: auto;
			  }
	  	}
	    
		

	
}





