 
header {
  h1 {
    float: left;
  }

  .source {
    float: right;
  }
}

section {
  @include outer-container;
  text-align: center;
  margin-bottom: 3em;

  & > code, code.block {
    display: block;
  }

  div {
    height: $body-line-height*4;
    line-height: $body-line-height;
    text-align: left;
    padding: 1em;
  }
  
  
  &.second {
    div {
      height: 20em;
      background-color: #d00f0f;

      &#alpha {
	      background-color: grey;
		  @include span-columns(4);
      }

      &#beta {
	      background-color: blue;
        padding: 0;
        line-height: $body-line-height*2;
        text-align: center;
        @include span-columns(8);

        aside {
	        background-color: fuchsia;
          @include span-columns(4 of 8);
          border: none;
          height: 84%;
          padding: 1em;
        }

        article {
	        background-color: green;
          @include span-columns(4 of 8);
          height: 84%;
          padding: 1em;
        }
      }
    }
  }
  }