// HEADER

header {
	color: $navtext;
    @include outer-container;
    @include row(table);
    background: $maincolor;
    text-transform: uppercase;
    display:block;
    
    
    
    
   
}



// RESPONSIVE NAV
// http://codepen.io/bradfrost/pen/sHvaz


a.menu-link {
	color: $navtext;
    float: right;
    display: inline-block;
    padding: 23px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	@include font-size(13);
    @include breakpoint(medium) {display: none;}
}

nav[role=navigation] {
	
	  nav.logo{
	    color: $navtext;
	    font-weight: $display;
	    font-size: 2em;
	    @include row(table);
	    @include breakpoint(large){@include reset-display(); text-align: left;}
}

    clear: both;
	@include transition(all 0.3s ease-out);
    @include breakpoint(medium) {float: right; display: inline-block; clear: none; text-align: right;}
	ul {
    	margin: 0;
    	padding: 0;
    	border-top: 1px solid #808080;
    	@include breakpoint(medium) {margin: 0px; border: 0; padding: 0px 10px;}
    }
    li {
        margin: 0;
        @include breakpoint(medium) {display: inline-block;}
    }
    li a {
    	display: block;
    	padding: 0px 20px 10px 0px;
    	line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
    	border-bottom: 1px solid $rulecolor;
    	color: $navtext;
        @include font-size(3em);
    	@include breakpoint(medium) {padding: 10px 13px 10px 10px; border: 0;}
    }
    li a:hover {
        color: $linkcolor;
    	@include breakpoint(medium) {background: transparent;}
    }
}

// when JS loads
.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
	@include breakpoint(medium) {max-height: none;}
}

// when menu link is clicked
nav[role=navigation].active {
	max-height: 15em;
}

